<div class="row d-block">
	<div class="col-12">

	

		<svg id="trash-svg" *ngIf="totalPoints < 10 || true"
		version="1.0" width="100%" height="100%"
		viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
			<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
				<path d="M1885 5101 c-77 -34 -112 -100 -103 -190 l3 -40 -546 -3 -545 -3 -37
					-25 c-43 -29 -87 -108 -87 -154 1 -69 65 -156 128 -174 35 -9 3689 -9 3724 0
					63 18 127 105 128 174 0 46 -44 125 -87 154 l-37 25 -545 3 -546 2 3 40 c9 91
					-26 157 -103 191 -37 17 -80 19 -675 19 -595 0 -638 -2 -675 -19z" />
				<path d="M680 4169 c-32 -13 -78 -56 -96 -91 -8 -15 -14 -51 -14 -81 0 -70
					415 -3799 429 -3855 15 -58 46 -98 96 -122 41 -20 62 -20 1465 -20 1403 0
					1424 0 1465 20 50 24 81 64 96 122 14 56 429 3785 429 3855 0 30 -6 66 -14 81
					-19 36 -65 78 -99 91 -38 15 -3721 14 -3757 0z m3483 -356 c3 -6 -376 -3416
					-382 -3440 -1 -2 -550 -3 -1221 -3 -671 0 -1220 1 -1221 3 -6 24 -385 3434
					-382 3440 5 9 3201 9 3206 0z" />
				<path d="M2524 3400 c-54 -12 -101 -48 -123 -94 -21 -42 -21 -49 -21 -1214 0
					-1276 -3 -1208 56 -1264 36 -33 74 -48 124 -48 50 0 88 15 124 48 59 56 56
					-12 56 1264 0 1169 0 1172 -21 1215 -33 68 -121 110 -195 93z" />
				<path d="M1643 3099 c-44 -13 -100 -70 -114 -118 -10 -33 1 -172 71 -902 47
					-498 87 -877 95 -894 29 -68 94 -109 172 -109 42 0 60 5 94 29 57 41 79 85 79
					160 0 33 -36 432 -79 886 -56 592 -83 834 -94 855 -42 82 -133 119 -224 93z" />
				<path d="M3350 3095 c-43 -20 -77 -51 -97 -89 -11 -21 -38 -265 -94 -855 -43
					-454 -79 -853 -79 -886 0 -75 22 -119 79 -160 33 -23 52 -29 94 -29 101 0 170
					63 187 170 4 32 43 430 86 885 l78 825 -23 48 c-42 85 -149 127 -231 91z" />
			</g>
		</svg>
	</div>
	<div class="col-12">
		<h1>Points: {{ totalPoints }} - {{ percentage }}%</h1>
		<div class="progress" style="height: 50px;" id="progress-bar">
			<!-- <div 
				id="trash-progress-bar"
				class="progress-bar bg-success progress-bar-striped progress-bar-animated" 
				role="progressbar" 
				aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
			></div> -->
			
		</div>
		<div class="row not-selectable">
			<div *ngFor="let step of steps" class="col">
				{{ step.points }}
			</div>
		</div>

		

	</div>
</div>

<div class="row row-cols-8 g-2 p-2">

	<div *ngFor="let reward of rewards" class="col-md-3 col-12 not-selectable p-2">

		<div class="card">
			<div class="card-body" [ngClass]="{'border border-primary border-2 rounded-2 bg-light': reward.points < totalPoints}">
				<h5 class="card-title">{{ reward.name }} - {{ reward.points }} points</h5>
				<p class="card-text">{{ reward.desc }}</p>
				<button class="btn btn-primary" [disabled]="reward.points > totalPoints || reward.isCollecting" (click)="claimReward(reward)">
					{{ 
						reward.points > totalPoints 
							? "Not enough points" 
							: reward.isCollecting ? 'Collecting...' : 'Collect'
					 }}
				</button>
			</div>
		</div>

	</div>

</div>

<div class="row">
	<h1>Points details</h1>

	<div class="accordion" id="pointsAccordion">

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Bin #</th>
					<th scope="col">Date</th>
					<th scope="col">Points</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let recycled of user.visitedBins">
					<th scope="row">{{ recycled.binId._id }}</th>
					<td>{{ recycled.date | date }}</td>
					<td>{{ recycled.points }}</td>
					
				</tr>
			</tbody>
		</table>
		<!-- 
		<div *ngFor="let recycled of user.recycledTrash" class="accordion-item">
			<div class="accordion-header">
				<p>
					Bin {{ recycled.binId }} -> 
					{{ recycled.points }} points
					at {{ recycled.date | date}}
				</p>
			</div>
		</div> -->

	</div>
</div>