<div class="container row">

	<div *ngFor="let bin of bins" class="p-2">

		<div class="card">
			<div class="card-body">
				<h5 class="card-title"> {{ bin.name }} </h5>
				<p class="card-text">

					<!-- <fa-icon [icon]="faLocation"></fa-icon> -->
					
					{{ bin.address.city }}, au {{ bin.address.number }} {{ bin.address.street }}. <br>
					Elle a été créée le {{ bin.createdAt | date }} et visitée un total de {{ bin.userVisits.length }}
					fois.<br>

					<span *ngIf="currentUser && bin.userVisitsCount > 0">
						Vous même avez visité cette poubelle {{ bin.userVisitsCount }} fois.
					</span>

					<span *ngIf="currentUser && bin.userVisitsCount == 0">
						Vous n'avez pas encore visité cette poubelle.
					</span>

				</p>
			</div>

			<table class="table" *ngIf="bin.sortedUserVisits.length !== 0">
				<thead>
					<tr>
						<th scope="col">User</th>
						<th scope="col">Points</th>
						<th scope="col">Count</th>
						<th scope="col">Date</th>
					</tr>
				</thead>

				<tbody>
					<tr *ngFor="let userVisit of bin.sortedUserVisits" class="user-topscore-holder">
						<td>{{ userVisit.userId }}</td>
						<td>{{ userVisit.points }}</td>
						<td>{{ userVisit.count }}</td>
						<td>{{ userVisit.date | date }}</td>
					</tr>
				</tbody>
			</table>

			<div class="card-footer text-muted">
				<button class="btn btn-primary">Voir sur la carte</button>
			</div>
		</div>

	</div>

	<nav class="mt-5">
		<ul class="pagination">
		  <li class="page-item disabled">
			<a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
		  </li>
		  <li class="page-item"><a class="page-link">1</a></li>
		  <li class="page-item active" aria-current="page">
			<a class="page-link">2</a>
		  </li>
		  <li class="page-item"><a class="page-link">3</a></li>
		  <li class="page-item">
			<a class="page-link">Next</a>
		  </li>
		</ul>
	  </nav>

</div>